@use "../../styles/abstracts/index" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .subtitle {
    font-weight: font-weight("bold");
    color: color("primary-dark");
  }
  .description {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid color("border");
    font-size: rem(14);
    color: color("text");
    word-break: keep-all;
  }
  .table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid color("border");

    th,
    td {
      text-align: center;
      vertical-align: middle;
    }

    thead {
      tr {
        th {
          height: 48px;
          border-bottom: 1px solid color("border");
          background: color("primary");
          font-weight: font-weight("bold");
          color: color("white");
          &:first-child {
            border-right: 1px solid color("border");
          }
        }
      }
    }
    tbody {
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid color("border");
        }
        td {
          padding: 12px;
          font-size: rem(15);
          &:first-child {
            border-right: 1px solid color("border");
            color: color("white");
          }
          &:last-child {
            color: color("text");
            text-align: left;
          }
        }
      }
    }
  }
}
