@use "../../styles/abstracts/index" as *;

.container {
  @include flexbox(center);
  // height: 100%;
  :global(.react-calendar),
  .placeholder {
    width: 100%;
    height: 800px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid color("border");
    @include mobile {
      height: 500px;
      padding: $spacing-mobile;
    }
  }

  // 달력 controller
  :global(.react-calendar__navigation) {
    @include flexbox(center, center, 16px);
    height: 20%;
    & > button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 34px;
      @include mobile {
        width: 18px;
        height: 18px;
      }
    }
  }
  :global(.react-calendar__navigation__label) {
    flex-grow: unset !important;
    width: auto !important;
    padding: 0 40px;
    font-weight: font-weight("bold");
    font-size: rem(22) !important;
    @include mobile {
      height: auto;
      padding: 0 $spacing-mobile;
      font-size: rem(20) !important;
    }
  }

  // 달력 body
  :global(.react-calendar__viewContainer) {
    height: 80%;
  }
  :global(.react-calendar__month-view) {
    height: 100%;
    & > div {
      height: 100%;
      align-items: flex-start !important;
      & > div {
        height: 100%;
      }
    }
  }
  // 요일
  :global(.react-calendar__month-view__weekdays) {
    height: 80px;
    @include mobile {
      height: 48px;
    }
  }
  :global(.react-calendar__month-view__weekdays__weekday) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: font-weight("bold");
    font-size: rem(22);
    @include mobile {
      font-size: rem(20);
    }
    abbr {
      text-decoration: none;
      @include mobile {
        font-size: rem(16);
      }
    }
  }
  // 주말
  :global(.react-calendar__month-view__weekdays__weekday--weekend) {
    &:first-child {
      color: #b06060;
    }
    &:last-child {
      color: #6b8fad;
    }
  }
  // 날짜
  :global(.react-calendar__month-view__days) {
    height: calc(100% - 80px);
    @include mobile {
      height: calc(100% - 48px);
    }
  }
  :global(.react-calendar__tile) {
    position: relative;
    font-size: rem(18);
    @include mobile {
      font-size: rem(16);
    }
  }
  // 다른 달
  :global(.react-calendar__month-view__days__day--neighboringMonth) {
    color: color(gray300);
    pointer-events: none;
  }
  // 오늘보다 미래인 날짜 (같은 달 포함)
  :global(.react-calendar__tile[disabled]) {
    color: color(gray300);
    pointer-events: none;
  }
}

// 기록 있을 시 표기 dot
.calendar-dot {
  position: absolute;
  left: 50%;
  bottom: 24px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: color("primary");
  transform: translateX(-50%);
  @include mobile {
    bottom: 8px;
  }
}
