@use "../../styles/abstracts/index" as *;

.container {
  @include flexbox(center);
  height: 100%;
  :global(.react-calendar) {
    width: 100%;
    height: 800px;
    padding: 20px;
    border: 1px solid color("border");
  }

  // 달력 controller
  :global(.react-calendar__navigation) {
    @include flexbox(center, center, 16px);
    height: 20%;
    & > button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 34px;
    }
  }
  :global(.react-calendar__navigation__label) {
    flex-grow: unset !important;
    width: auto !important;
    padding: 0 40px;
    font-size: rem(22) !important;
  }

  // 달력 body
  :global(.react-calendar__viewContainer) {
    height: 80%;
  }
  :global(.react-calendar__month-view) {
    height: 100%;
    & > div {
      height: 100%;
      align-items: flex-start !important;
      & > div {
        height: 100%;
      }
    }
  }
  // 요일
  :global(.react-calendar__month-view__weekdays) {
    height: 80px;
  }
  :global(.react-calendar__month-view__weekdays__weekday) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: font-weight("bold");
    font-size: rem(22);
    abbr {
      text-decoration: none;
    }
  }
  // 주말
  :global(.react-calendar__month-view__weekdays__weekday--weekend) {
    &:first-child {
      color: #b06060;
    }
    &:last-child {
      color: #6b8fad;
    }
  }
  // 날짜
  :global(.react-calendar__month-view__days) {
    height: calc(100% - 80px);
  }
  :global(.react-calendar__tile) {
    font-size: rem(18);
  }
  // 다른 달
  :global(.react-calendar__month-view__days__day--neighboringMonth) {
    color: color(gray300);
  }
}
