@use "../../styles/abstracts/index" as *;

.header {
  z-index: 10;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  height: 72px;
  border-bottom: 1px solid color("border");
  background: color("surface");
  @include mobile {
    height: 56px;
  }
  .inner {
    @include flexbox(space-between, center);
    height: 100%;
    .logo {
      font-weight: font-weight("bold");
      font-size: rem(18);
      color: color("text");
    }
    .nav {
      ul {
        @include flexbox(null, center, 8px);
        li {
          .nav-link {
            padding: 8px 16px;
            border-radius: 8px;
            font-size: rem(15);
            font-weight: font-weight("bold");
            color: color("text-secondary");
            &:hover {
              background: color("background");
            }

            &.active {
              background: color("primary");
              color: color("white");
              &:hover {
                background: color("primary");
              }
            }
          }
        }
      }
    }
  }
}
